{{ define "users/index.tmpl" }}
<!DOCTYPE html>
<html lang="en">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.ajax({
                type: "GET",
                url: "/people/1",
                dataType: "text",
                success: function (result) {
                    $("#div1").html(result)
                }
            });
        });
    });
</script>
<head>
    <meta charset="UTF-8">
    <title>
        {{ .title }}
    </title>
</head>
<body>

<h2>AJAX</h2>
<button>发送一个 HTTP GET 请求并获取返回结果</button>
<div id="div1">321</div>

</body>
</html>
{{ end }}